{% extends "blog/base.html"%}	
{% block content %}
	<article class="media content-section">
  		<div class="media-body">
  			<h1>Welcome to our community!</h1>
  			<p> Hello! It’s very nice to meet you! My name is Anastasia. I am a linguist and a French teacher with 5 years of experience.<br>
  			<br>
  			<img src="../static/blog/drapeau.jpg" class="img-fluid">
  			<br>
  			<br>
  			Every one of my students had the same issue. They struggled to speak French. and to understand the fast French speech. DESPITE their level.
			Even those who had a broad vocabulary and a solid grammar foundation! That brought me to the conclusion: the root of the problem is not in grammar or vocabulary. <br>
			If you want to speak like a native, you need to learn their language like them. What do I mean by that? You must start with phonetics. When you were a child, you learned first sounds, then syllables, words, and phrases. And you succeeded in learning it! Why the heck don’t we use the same tactic with French? <br>
			I’m not the only one emphasizing this method. Look what Dr. Sulzberger has found in his research: “Neural tissue required to learn and understand a new language will develop automatically from simple exposure to the language—which is how babies learn their first language”.<br>
			<br>
			We are all here to share our knowledge about French language. Become a member of SoundFrench Blog right ow!

  			</p>
  		</div>
    			
	</article>
{% endblock content %}
